{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block head %}
<script>
    render = "{{ render }}"
</script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/login-signup.css') }}">
{% endblock %}

{% block body %}
<div id="main-container" class="bg">
    <div id="content-wrapper">
        <div class="w-full max-w-md">
            <div class="bg-white shadow-lg rounded-lg p-6">
                <!-- login form -->
                <form id="login-form" action="/login" method="POST">
                    <h2 class="text-3xl font-bold mb-6">Login</h2>
                    <!-- username / email input -->
                    <div class="mb-4">
                        <label for="username" class="block text-gray-700 font-bold mb-2">Username / Email</label>
                        <input type="text" name="username" id="username" placeholder="you@example.com" required
                            class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    </div>

                    <!-- password input -->
                    <div class="mb-6">
                        <label for="password" class="block text-gray-700 font-bold mb-2">Password</label>
                        <input type="password" name="password" id="password" placeholder="***********" required
                            class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    </div>

                    <input type="hidden" name="g-recaptcha-response" id="g-recaptcha-response-login">

                    <!-- submit button -->
                    <div class="flex items-center justify-between">
                        <button type="submit" id="login-button"
                            class="bg-gradient-to-r from-blue-700 to-blue-900 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                            Sign In
                        </button>
                    </div>
                    <p class="hidden" id="signup-message">Signed up! Please now login.</p>
                </form>
            </div>
            <div class="text-center mt-4 bg-white shadow-lg rounded-lg p-2">
                <p class="text-black">
                    Don't have an account?
                    <a href="/signup" class="text-blue-600">Signup here</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/login-signup.js') }}"></script>
{% endblock %}