<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
        integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer></script>
    {% if error %}
    <script>
        $(function () {
            const error = "{{message}}";
            if (error) {
                // show the error popup
                const errorPopup = $('#error-popup');
                errorPopup.text(error);
                errorPopup.hide();
                errorPopup.removeClass('hidden');
                errorPopup.fadeIn();
                // hide the error popup after 3 seconds
                setTimeout(() => {
                    errorPopup.fadeOut();
                }, 3000);
            }

            username = "{{ username }}"

            if (username != null) {
                $('#username').val(username);
            }
        });
    </script>
    {% endif %}
</head>

<body class="bg-gray-200 relative">
    <!-- center the main div in the center of the page, ensure it is resposive. -->
    <div class="flex items-center justify-center h-screen">
        <div class="w-full max-w-md">
            <!-- login form -->
            <form method="post" class="bg-white shadow-lg rounded-lg p-6">
                <!-- username / email input -->
                <div class="mb-4">
                    <label for="username" class="block text-gray-700 font-bold mb-2">Username / Email</label>
                    <input type="text" name="username" id="username" placeholder="you@example.com" required
                        class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                </div>

                <!-- password input -->
                <div class="mb-6">
                    <label for="password" class="block text-gray-700 font-bold mb-2">Password</label>
                    <input type="password" name="password" id="password" placeholder="***********" required
                        class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                </div>

                <!-- submit button -->
                <div class="flex items-center justify-between">
                    <button type="submit"
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                        Sign In
                    </button>
                </div>
            </form>
        </div>

        <!-- error message popup -->
        <div id="error-popup" class="absolute top-0 right-0 mr-4 mt-4 bg-red-500 text-white px-4 py-2 rounded hidden">
        </div>
    </div>
</body>


</html>