/*Set default font to Roboto for all elements on the page.*/
* {
    font-family: 'Roboto', sans-serif;
}

/* ------------------------ NAVIGATION ------------------------ */

/*Style for the navigation bar element*/
.topnav {
    overflow: hidden;   /*To ensure that any content that goes beyond the boundaries of this element are not displayed*/
    background-color: #f1f1f1;  /*Set the background color of the navigation bar to light gray*/
    text-align: center;  /*Align the contents of the navigation bar at the center*/
}

/*Style for navigation links inside the navigation bar*/
.topnav a {
    display: inline-block;   /*Display the links as inline blocks*/
    color: black;  /*Set the color of the link texts to black*/
    text-align: center;    /*Center align the links text*/
    padding: 14px 16px;  /*Add padding to the links in top and bottom (14px) and left and right (16px)*/
    text-decoration: none;   /*Remove the underline decoration from the links text*/
    font-size: 17px;   /*Set the font size of links text to 17px*/
    font-family: 'Montserrat', sans-serif;   /*Set Montserrat font for navigation links*/
    font-weight: 400;   /*Set normal font weight (i.e 400)*/
}

/*Style for logo inside the navigation bar*/
.topnav .logo {
    float: left;   /*Place logo image on the left side of the navigation bar*/
}

/*Style for sign-in button/link inside the navigation bar*/
.topnav .signin {
    float: right;  /*Position sign-in button on the right side of the navigation bar*/
}