/*
Copyright information for code:

This code snippet is owned by [Insert name of owner]. 
The code cannot be used personally or commercially without permission from the owner.
*/

/* Sets the height of the HTML and body elements to 100% (full screen height) */
html,
body {
    height: 100%;
}

/* Sets the display style of the body element to "flex" with main axis direction as "column" */
body {
    display: flex;
    flex-direction: column;
}

/* Sets the flex property of the main element to "1" which means it'll take up all available space */
main {
    flex: 1;
}

/* Prevents the footer element from getting smaller than its content */
footer {
    flex-shrink: 0;
}

/* By default, hides the grecaptcha badge */
.grecaptcha-badge {
    visibility: hidden;
}

/* Styles for the back-to-top button that isn't displayed by default */
#backToTopBtn {
    /* display:none; */
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 100;
    border: none;
    outline: none;
    background-image: linear-gradient(to right, #4299e1, #2b6cb0);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    font-size: 18px;
    opacity: 0.7;
    transition: opacity 0.3s;
}

/* Changes the opacity of the back-to-top button on hover */
#backToTopBtn:hover {
    opacity: 1;
}

/* Loader */

.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    overflow: hidden;
    z-index: 9999;
    display: none;
}

.progress {
    height: 100%;
    width: 100%;
    background-color: #00b3ff;
    transform: translateX(-100%);
}

.hidden {
    display: none;
}


@keyframes loading {
    0% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* Styles for the sections with image backgrounds */

.welcome-bg {
    background-image: url('https://cdn.discordapp.com/attachments/1096391777835024394/1103972942905364550/Zach3_abstract_digital_landscape_that_represents_futuristic_tec_b06c2a82-66f2-40d0-ab19-b2fad516b824.png');
}

.section-bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Styles for flash messages */
.flashes {
    list-style: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
}

.flashes li {
    background-color: #af2828;
    color: white;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 4px;
    animation: fadeInOut 1s ease-in-out;
}

.flashes li:first-child {
    margin-top: 0;
}

.error {
    background-color: #ff4d4d;
    color: #fff;
}

.warning {
    background-color: #ffad33;
    color: #fff;
}

.info {
    background-color: #4da6ff;
    color: #fff;
}