<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-MW6SP46');
    </script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %} - AI Universal</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block head %}{% endblock %}
</head>

<body class="bg-white font-inter">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MW6SP46" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div id="flash-messages">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul class="flashes">
            {% for category, message in messages %}
            {% set class = '' %}
            {% if category == 'error' %}
            {% set class = 'error' %}
            {% elif category == 'warning' %}
            {% set class = 'warning' %}
            {% elif category == 'info' %}
            {% set class = 'info' %}
            {% endif %}
            <li class="{{ class }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}


    </div>

    <!-- Navigation Bar-->
    <nav class="flex justify-between items-center py-4 px-8 bg-gray-100 text-gray-900 border-b border-gray-200">
        <div class="flex items-center">
            <a href="/">
                <img src="{{ url_for('static', filename='images/nav_logo.png') }}" alt="Logo" class="h-10 mr-4" />
            </a>
        </div>
        <div class="flex-auto">
            <ul class="flex mx-auto">
                <li class="mr-4"><a href="#" class="hover:text-blue-600">Home</a></li>
                <li class="mr-4"><a href="#" class="hover:text-blue-600">News</a></li>
                <li class="mr-4"><a href="#" class="hover:text-blue-600">Contact</a></li>
                <li class="mr-4"><a href="#" class="hover:text-blue-600">About</a></li>
            </ul>
        </div>
        <div class="flex items-center">
            {% if user %}
            <a href="/dashboard" class="text-gray-900 hover:text-blue-600 mr-4">Dashboard</a>
            {% else %}
            <a href="/login" class="text-gray-900 hover:text-blue-600 mr-4">Log In / Sign Up</a>
            {% endif %}
        </div>
    </nav>
    <!-- End Navigation Bar -->

    <!-- Main Content -->
    <main>
        {% block body %}{% endblock %}
    </main>
    <!-- End Main Content -->

    <!-- Footer -->
    <footer class="bg-gray-100 border-t border-gray-200">
        <div class="container mx-auto py-8 px-8">
            <div class="flex justify-between items-center">
                <div>
                    <h3 class="text-xl font-semibold mb-4">AI Universal</h3>
                    <p class="text-gray-700">Empowering individuals, schools, and businesses with powerful AI tools and
                        resources.</p>
                </div>
                <div class="flex">
                    <a href="#" class="mr-4 text-gray-700 hover:text-blue-600"><i
                            class="fab fa-facebook-square"></i></a>
                    <a href="#" class="mr-4 text-gray-700 hover:text-blue-600"><i class="fab fa-twitter-square"></i></a>
                    <a href="#" class="mr-4 text-gray-700 hover:text-blue-600"><i class="fab fa-linkedin"></i></a>
                    <a href="#" class="text-gray-700 hover:text-blue-600"><i class="fab fa-instagram-square"></i></a>
                </div>
            </div>
            <hr class="my-8">
            <div class="flex justify-between items-center">
                <p class="text-gray-600">&copy; <span class="current-year"></span> AI Universal. All Rights Reserved.
                </p>
                <ul class="flex">
                    <li class="mr-4"><a href="/policy/terms_of_service" class="text-gray-600 hover:text-blue-600">Terms
                            of Service</a></li>
                    <li class="mr-4"><a href="/policy/privacy" class="text-gray-600 hover:text-blue-600">Privacy
                            Policy</a></li>
                    <li class="mr-4"><a href="/policy/cookies" class="text-gray-600 hover:text-blue-600">Cookie
                            Policy</a></li>
                    <li><a href="{{ url_for('main_routes.credits_route') }}"
                            class="text-gray-600 hover:text-blue-600">Credits</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- End Footer -->

    <!-- Back to top button -->
    <button id="backToTopBtn"
        class="hidden fixed bottom-8 right-8 w-12 h-12 rounded-full bg-blue-500 text-white focus:outline-none focus:shadow-outline hover:bg-blue-700 flex justify-center items-center">
        <i class="fas fa-chevron-up text-white"></i>
    </button>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
    integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/smoothscroll/1.4.10/SmoothScroll.min.js"
    integrity="sha512-HaoDYc3PGduguBWOSToNc0AWGHBi2Y432Ssp3wNIdlOzrunCtB2qq6FrhtPbo+PlbvRbyi86dr5VQx61eg/daQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://www.google.com/recaptcha/api.js?render=6LcglHklAAAAAHByD3vbfkrdYzOMsz13SE9-ic1d"></script>
<script src="{{ url_for('static', filename='js/base.js') }}"></script>
{% block js %}{% endblock %}

</html>